extends ../layout.jade
block contenido
	h1 Panel de Administracion
	table(class="table")
		caption Productos Actuales
		thead
			tr
				th #
				th Nombre
				th Descripción
				th Precio
				th cantidad
				th Imagenes				
				th Acciones
		tbody
			each product in products
				tr
					td=	product.id
					td=	product.title
					td=	product.description
					td=	product.price	
					td=	product.cantidad								
					td
						a(href="#{product.imageUrl}" class=btn) Ver Imagen
					td 	
						a(href="/menu/edit/#{product.id}") Editar
						=" - "
						a(href="/menu/delete/#{product.id}") Eliminar

