html(lang="en")
  head
    title Carro
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  body
    div(class="col-md-3 center-block quitar-float text-center espacio-arriba" id="principal")
     img(src="img/logo.png")
     h1(class="pacifico grande rojo") Carrito
     nav
      a(href="menu" class="espacio-derecha")*Menu
      a(href="menu/new" class="espacio-derecha")*Crear producto
      a(href="admin/lista" class="espacio-derecha")*Administrar productos
  div(id="app")
  script(src="js/bundle.js" charset="utf-8")
