html(lang="en")
  head
    title Carro
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  body
  block contenido