body{
	font-family: 'Lato', sans-serif;
}	
img{
	width: 217px;
	margin-top: 20px;
}
.quitar-float{
	float:none;
}
.cuenta {
	border: 2px solid;
	margin-top: 25%;
	margin-left: 50%;

}
.carta-color{
	background-color: #eee;
	border-bottom:  1px solid;
	border-left:  1px solid;
	border-right:1px solid;
	margin-left: auto;
}
.boton{
	margin-top: 12px;
	width: auto;
	margin-left: 43%;
}
.margen{
	margin-left: 30px;
	width: 100%;
	margin-top: -20px;
}
.tabla-derecha{
	float: right;

}

.margin-arriba{
	margin-top: 20px;	
}
.espacio-arriba{
	margin-top: 100px;	
}
.se-gris{
	background-color: #eee;	
}
.padding-largo{
	padding:5px 10px;
}
.flotar-derecha{
	float: left;
	margin-right: 50%;
}
#principal{
	width: 40%;
	float: none;
	margin-top: 100px;
	text-align: center;
}
.pacifico{
	font-family: 'Pacifico',sans-serif	;
}
.grande{
	font-size:3em;
}
.verde{
	color: #559429;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
	display: inline-block;
}
.inline-block{
	float: none;
}
.espacio-derecha{
	margin-right: 1em;
}
.rojo{
	color: #FF0000;
}
a, .azul{
	color: #009FFF;
}