extends ../layout.jade
block contenido
	header
		div(class="container-fluid se-gris")
			h1(class="pacifico text-center") Cuenta
		div(class="container-fluid row")
			section(class="main")
				article(class="col-md-6")
					table(class="table cuenta")
						thead
							tr								
								th Nombre
								th Precio
								th cantidad
								th editar
						tbody
							each product in products
								tr
									td=	product.title
									td=	product.price	
									td=	product.cantidad
									td 	
										a(href="menu/#{product.id}" class="btn btn-info") +
										=" "
										a(href="/menu/edit/#{product.id}" class="btn btn-info") -