extends ../layout.jade
block contenido
  nav(class="se-gris padding-largo text-center")
    ul(class="no-lista")
      li(class="col-md-3 inline-block") Inicio
      li(class="col-md-3 inline-block") Lista
  div(class="col-md-5 center-block quitar-float text-left espacio-arriba")
    h1 Editar Producto
    section    
      form(method="POST" action="/menu/#{product.id}?_method=PUT")         
        div(class="form-group text-left")
          label Nombre
          input(type="text" name="title" value="#{product.title}" placeholder="Nombre" class="form-control") 
        div(class="form-group text-left")    
          label Descripcion
          textarea(type="text" name="description" placeholder="Descripcion" class="form-control")
            =product.description
        div(class="form-group text-left")    
          label imagen
          input(type="file" name="image_avatar")          
        div(class="form-group text-left")    
          label Precio
          input(type="number" name="price" value="#{product.price}" placeholder="Precio" class="form-control")  
        div(class="form-group text-left")    
          label Cantidad
          input(type="number" name="cantidad" value="#{product.cantidad}" placeholder="Cantidad" class="form-control")
        div(class="form-group text-right")          
          input(type="submit" class="btn btn-info" value="Guardar")          
  div(id="app")
  script(src="js/bundle.js" charset="utf-8")     