extends ../layout.jade
block contenido
	header
		div(class="container-fluid se-gris")
			h1(class="pacifico text-center") Nuestros Productos
	div(class="container-fluid row")
			section(class="main")
				article(class="col-md-6")
					each product in products 		
						div(class="container-fluid row")
							section(class="main")
								article(class="col-md-4")			
									img(src="#{ product.imageUrl }" class="no-float")
								article(class="col-md-8 row")			
									div(class="container row margen")
										h1(class="pacifico")=product.title
									div(class="container row margen")
										h3=product.description
									div(class="container row margen")
										form(method="POST" action="menu/#{product.id}?_method=PUT")
											div(class="form-group text-left margin-arriba")
												input(type="hidden" name="title" value="#{product.title}")
												input(type="hidden" name="description" value="#{product.description}")  
												input(type="hidden" name="price" value="#{product.price}")  
												input(type="hidden" name="cantidad" value="#{product.cantidad}")    
												h3(class="col-md-6")=('$'+ product.price)										
												input(type="submit" value="añadir" class="col-md-6 btn btn-info boton" style="margin-top: 12px;")
						hr
				article(class="col-md-6 carta-color")
					artcle(class="row")
						h1(class="pacifico") Carta
						table(class="table")
							thead
								tr
									th Nombre
									th Precio
									th Cantidad
							tbody
								each product in products
									tr
										td=product.title
										td=('$'+ product.price)	
										td=product.cantidad
					article(class="row")
					h1(class="pacifico") Total		
				a(href="/menu/cuenta" class="col-md-6 btn btn-info boton") Ver	
				